<div class="">
    <h3 class="mb-4 p-2 bg-secondary text-center">IF ELSE</h3>
    <p class="text-white p-4">The ngIf allows us to define optional else block using the ng-template</p>
    
</div>
<div *ngIf="flag" class="bg-white text-dark">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quae modi porro quod error! Deserunt quaerat asperiores sequi assumenda! Quasi ex tempora suscipit eum molestias rerum ut laudantium id consequatur.


</div>
<button type="button" (click)="check1()" class="btn btn-primary" >hide/show</button>