<div class="text-center ">
    <mat-slide-toggle (toggleChange)="change()"><h4 class="text-white">Toggle me!</h4></mat-slide-toggle>
</div>
<div class="p-3 bg-white shadow-lg text-dark" *ngIf="flag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iste nesciunt minus ut. Magnam eligendi esse saepe dicta iste atque similique, repellendus, libero maxime qui, voluptatem incidunt expedita est vel.
Cupiditate rerum quis voluptatum quas omnis dolores est, amet debitis aspernatur odio voluptates blanditiis, ex nulla odit voluptatem! Ipsum, officiis dolores. Suscipit, voluptas et! In repellat delectus harum. Quia, recusandae?</div>


