.bt{
    width: 175px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    margin-left: 20px;
}

.btn1{
    width: 120px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    margin-left: 70px;
    
}

.bor{
    border-radius: 65%;
    
}


.bor2{
    border-radius: 8%;
    
}

.bor3{
    border-radius: 15%;
    
}