<div class="">
    <h3 class="mb-4 p-2 bg-secondary text-center">ngModule</h3>
    <p class="text-white p-4">A shorthand form of the directive, *ngIf="condition", is generally used, provided as an attribute of the anchor element 
        for the inserted template. Angular expands this into a more explicit version, in which the anchor element is contained 
        in an ng-template element.</p>
    
</div>
<input type="text" [(ngModel)]="swt" >
<button type="button" (click)="mod()"> click</button>

<h1 >{{x}}</h1>